<div>
  <ins
    class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-3857753364740983"
    data-ad-slot="1281498636"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <h2 {...Astro.props}>
    <slot />
  </h2>
</div>
