<div class="mb-5 rounded-lg border-4 border-slate-700 not-prose text-2xl">
    <span class="iconify tabler--ad"></span>
    <slot />
    <p class="text-center">
        <span class="iconify icon-park-solid--up-c" ></span>&nbsp;商品を購入する
    </p>
</div>
