---
import AdIcon from "@components/icons/AdIcon.vue";
import UpIcon from "@components/icons/UpIcon.vue";
---

<div class="mb-5 rounded-lg border-4 border-slate-700 not-prose text-2xl">
    <AdIcon />
    <slot />
    <p class="text-center">
        <UpIcon class="inline" />&nbsp;商品を購入する
    </p>
</div>
